@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  100% {
    transform: scale(0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
}

@keyframes refresh-popup {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-card-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-card-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-card-left {
  animation: slide-card-left 0.5s ease-in-out forwards;
}

.slide-card-right {
  animation: slide-card-right 0.5s ease-in-out forwards;
}

.slide-card-left-reverse {
  animation: slide-card-left 0.5s ease-in-out reverse;
  -webkit-animation: slide-card-left 0.5s ease-in-out reverse;
}

.slide-card-right-reverse {
  animation: slide-card-right 0.5s ease-in-out reverse;
  -webkit-animation: slide-card-right 0.5s ease-in-out reverse;
}

.pop-in {
  animation: pop 0.5s ease-in-out reverse;
  -webkit-animation: pop 0.5s ease-in-out reverse;
}

.pop-out {
  animation: pop 0.5s ease-in-out forwards;
  -webkit-animation: pop 0.5s ease-in-out forwards;
}

.refresh-popup {
  animation: refresh-popup 1s ease-in-out forwards;
  -webkit-animation: refresh-popup 1s ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade{
  animation: fade 1s ease-in-out forwards;
  -webkit-animation: fade 1s ease-in-out forwards;
}


.fade-in{
  animation: fade-in 0.5s ease-in-out forwards;
  -webkit-animation: fade-in 0.5s ease-in-out forwards;
}

.fade-out{
  animation: fade-in 0.5s ease-in-out reverse;
  -webkit-animation: fade-in 0.5s ease-in-out reverse;
}

#subject-container {
  scrollbar-width: none; /* For Firefox */
}